<div class="profile small-8 large-offset-2 columns">
  <div class="small-4 columns img-circle-parent"><img class="img-circle" src="img/reno-mckenzie.jpg" alt=""></div>
  <div class="top-text medium-8 columns">
    <h3>RENO MCKENZIE</h3>
    <h5>Reno is a web developer with a design degree. His work focuses on creating elegant & efficient solutions for the user experience.</h5>
    <ul class="menu">
      <li><a href="https://bit.ly/3rVYRfj"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>
        Resume
      <li><a href="https://bit.ly/3rXuLbE"><i class="fa fa-file-text-o" aria-hidden="true"></i>
        Text-Resume </a></li>
    </ul>
    <ul class="menu">
      <li><a href="mailto:Reno@RenoMcKenzie.com"><i class="fa fa-envelope-o" aria-hidden="true"></i>
        Email </a></li>
      <li><a target="_blank" href="https://github.com/darkenvy"><i class="fa fa-github" aria-hidden="true"></i>
        Github </a></li>
      <li><a target="_blank" href="https://www.linkedin.com/in/renomckenzie"><i class="fa fa-linkedin" aria-hidden="true"></i>
        LinkedIn </a></li>
    </ul>
  </div>
</div>
