<div class="profile small-8 small-offset-2 columns">
  <div class="small-4 columns"><img class="img-circle" src="img/reno-mckenzie.jpg" alt=""></div>
  <div class="small-8 columns">
    <h3>Reno McKenzie</h3>
    Reno is an Web Developer based in Seattle.
    He seeks and creates elegant code while maintaining efficiency.
    <ul class="menu">
      <li><a href="http://bit.ly/2gD6gyb"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>
        Resume
      <li><a href="http://bit.ly/2gGg9J1"><i class="fa fa-file-text-o" aria-hidden="true"></i>
        Text-Resume </a></li>
    </ul>
    <ul class="menu">
      <li><a href="Reno@RenoMcKenzie.com"><i class="fa fa-envelope-o" aria-hidden="true"></i>
        Email </a></li>
      <li><a href="https://github.com/darkenvy"><i class="fa fa-github" aria-hidden="true"></i>
        Gihub </a></li>
      <li><a href="https://www.linkedin.com/in/renomckenzie"><i class="fa fa-linkedin" aria-hidden="true"></i>
        LinkedIn </a></li>
    </ul>
  </div>
</div>
